/* layout container css */
.layout-container {
    background-color: rgb(226, 238, 238);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 2.5rem 1fr;
    grid-template-areas: 
        "sidebar topbar"
        "sidebar main";
}

 /* topbar css */
.topbar {
    grid-area: topbar;
    width: 100%;
    /* height: 50px; */
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.userName {
    color: black;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    margin-left: 120px;
    text-decoration: none;
    text-transform: capitalize;
}

.topRight {
    display: flex;
    align-items: center;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topIconBadge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


/* sidebar css */

.sidebar {
    position: fixed;
    top: 0;
    width: 21.9%;
    grid-area: sidebar;
    height: 100%;
    background-color: rgb(0, 119, 182);
    left: 0;
    margin-bottom: 0px;
}

.sidebarWrapper {
    padding: 20px;
    color: white;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 13px;
    color: white;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
    color: black;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}

.layout-container main {
    margin-top: 0px;
    grid-area: main;
    padding: 5px;
    background-color: rgb(240, 240, 255);
}

/* modal */
.newTask {
  flex: 4;
  margin-left: 15px;
}

.addTaskForm {
  margin-top: 10px;
}

.addTaskItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addTaskItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addTaskItem > input {
  padding: 10px;
}

.addTaskButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

