.newTask {
  flex: 4;
  margin-left: 15px;
}

.addTaskForm {
  margin-top: 10px;
}

.addTaskItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addTaskItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addTaskItem > input {
  padding: 10px;
}

.addTaskButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
